.top {
  height: 34px;
  background-color: var(--background-contrast);
}

.information {
  height: 100%;
  display: flex;
  align-items: center;
}

.information-flex {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.emblems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 16px;
}

.emblem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.locale {
  display: flex;
  color: var(--text-contrast);
  background-color: var(--background-contrast);
  align-items: center;
  gap: 7px;
  border: none;
  cursor: pointer;
}

.language {
  font-size: var(--text-size-sm);
  line-height: var(--text-height-sm);
  font-weight: 700;
  color: var(--text-contrast);
}

.cart {
  height: 100%;
  width: 53px;
  background-color: var(--accent);
  color: var(--text-contrast);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 6px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--text-size-md);
  line-height: var(--text-height-md);
}