.top {
  height: 34px;
  background-color: var(--background-contrast);
}

.information {
  height: 100%;
  display: flex;
  color: var(--background-main);
  align-items: center;
}

.information-flex {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.emblems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.emblem {

}

.flex {
  display: flex;
}

.locale {
  display: flex;
  align-items: center;
  gap: 7px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.language {
  font-size: 13.5px;
  font-weight: 700;
  color: var(--text-contrast);
}

.cart {
  height: 100%;
  width: 53px;
  background-color: var(--accent);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 6px;
  border: none;
  color: inherit;
  cursor: pointer;
}


.cart-size {
  font-weight: 700;
  font-size: 14px;
  color: inherit;
}