.logo {
  padding: 0 15px;
}

.nav {
  height: 67px;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.nav-items {
  padding: 0 20px;
  gap: 40px;
}

.nav-links {
  display: flex;
  flex: 1;
  height: 100%;
}

.nav-link {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-anchor {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.active {
  margin-top: 1.5px;
  border-bottom: 3px solid;
  color: var(--accent);
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  padding: 0 15px;
}

.search .input {
  font-size: 15px;
  border: none;
  text-align: right;
  width: 150px;
}

.search .input:focus {
  text-align: left;
  border: 1.5px solid #555;
  padding: 5px;
  height: 30px;
}

.dropdown {
  position: absolute;
  background-color: var(--background-main);
  height: 496px;
  width: 100%;
  top: 101px;
  box-shadow: 0px 2px 4px rgba(25, 25, 25, 0.197771);
}

.dropdown-content {
  padding: 36px 45px;
  list-style: none;
}

.dropdown-content .links {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding: 0 0 15px;
  cursor: pointer;
}

.nav-mobile {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px
}

.left {
  display: flex;
  align-items: center;
}

.showMenuNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--background-mobile);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-weight: 700;
  font-size: 15px;
}

.cart-mobile {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 6px;
}

.hamburger {
  cursor: pointer;
}


.menu-title {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.menu-item {
  height: 50px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 17px;
  border-bottom: solid 1px;
  border-color: rgb(179, 179, 179);
}

.menu-item.link {
  justify-content: space-between;
}

.menu-item.link.base {
  background-color: white;
}

.menu-item.back {
  background-color: white;
}

.menu-item.back img {
  transform: scaleX(-1);
}

.menu-nav {}

.menu-footer {
  padding: 10px 15px;
}

.menu-footer .item {
  display: flex;
  gap: 6px;
  padding: 10px;
  align-items: center;
}