* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

:root {
  --accent: #B81830;
  --background-main: #FFFFFF;
  --background-off: #F4F4F4;
  --background-mobile: #E5E5E5;
}

.content {
  background-color: rgba(23, 23, 23, 0.75);
}