* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

:root {
  --accent: #B81830;
  --background-main: #F4F4F4;
  --background-off: #F4F4F4;
  --background-mobile: #E5E5E5;
  --text-dark: #181818;
  --text-light: #404040;
  --text-lightest: #666666;
  --borders: #D0D0D0;

  /* conflicting colors between design guide and figma */
}

.content {
  background-color: rgba(23, 23, 23, 0.75);
}